<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-top">
      <div class="footer-left">
        <span class="footer-text">
          <span>Subscribe to our newsletter</span>
        </span>
        <div class="footer-subscription">
          <input
            type="email"
            placeholder="Enter your email"
            class="footer-textinput input"
          />
          <div class="footer-subscribe">
            <span class="footer-text01"><span>Subscribe</span></span>
          </div>
        </div>
        <span class="footer-text02">
          <span>
            By subscribing to our newsletter you agree with our Terms and
            Conditions.
          </span>
        </span>
        <div class="footer-contact">
          <span class="footer-text03"><span>Contact</span></span>
          <a
            href="mailto:use@active-app.com?subject=Support"
            class="footer-link"
          >
            <span>use@active-app.com</span>
          </a>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-category">
          <span class="footer-text04"><span>Solutions</span></span>
          <div class="footer-links">
            <span class="footer-text05">
              <span>Responsive Web Design</span>
            </span>
            <span class="footer-text06">
              <span>Responsive Prototypesv</span>
            </span>
            <span class="footer-text07"><span>Design to Code</span></span>
            <span class="footer-text08">
              <span>Static Website Builder</span>
            </span>
            <span class="footer-text09">
              <span>Static Website Generator</span>
            </span>
          </div>
        </div>
        <div class="footer-category1">
          <span class="footer-text10"><span>Company</span></span>
          <div class="footer-links1">
            <span class="footer-text11"><span>About</span></span>
            <span class="footer-text12"><span>Team</span></span>
            <span class="footer-text13"><span>News</span></span>
            <span class="footer-text14"><span>Partners</span></span>
            <span class="footer-text15"><span>Careers</span></span>
            <span class="footer-text16"><span>Press & Media</span></span>
          </div>
        </div>
        <div class="footer-category2">
          <span class="footer-text17"><span>Solutions</span></span>
          <div class="footer-links2">
            <span class="footer-text18"><span>Twitter</span></span>
            <span class="footer-text19"><span>Linkedin</span></span>
            <span class="footer-text20"><span>Crunchbase</span></span>
            <span class="footer-text21"><span>Instagram</span></span>
            <span class="footer-text22"><span>Facebook</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <img
        alt="pastedImage"
        src="/playground_assets/pastedimage-no9b-200h.png"
        class="footer-branding"
      />
      <span class="footer-text23"><span>Copyright © Active - 2022</span></span>
    </div>
  </footer>
</div>
